In [5]:
import pandas as pd

In [8]:
data = pd.read_json("./data/working_days.json", orient="columns")
data

,days,working_days,weekend_days,public_holidays,custom_dates
total,30.000000,21.0,8.0,1,0
mondays,5.000000,4.0,0.0,1,0
tuesdays,5.000000,5.0,0.0,0,0
wednesdays,4.000000,4.0,0.0,0,0
thursdays,4.000000,4.0,0.0,0,0
fridays,4.000000,4.0,0.0,0,0
saturdays,4.000000,0.0,4.0,0,0
sundays,4.000000,0.0,4.0,0,0
hours,719.983333,NaN,NaN,NaN,NaN
work_hours,NaN,168.0,NaN,NaN,NaN
wages,NaN,3360.0,NaN,NaN,NaN
list,NaN,NaN,NaN,"[{'date': '2013-04-01', 'description': 'Osterm...",[]